<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="CnxPPEGSB" connectionString="Server=192.168.100.236;Database=jguillermin;User Id=jguillermin;Password=Jecacodi93" providerName="MySql.Data.MySqlClient" />

      <!-- <add name="CnxPPEGSB" connectionString="Server=localhost;Database=gsbvisite;User Id=root;Password="/>-->
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>